@model AspMultiUpload.Models.Image
@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<link href="~/Content/upload.css" rel="stylesheet" />
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   

    <div class="panel panel-default">

        <div class="panel-body">
            <ul id="media-list">
                <li class="myupload">
                    <span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <input type="file" click-type="type2" id="picupload" class="picupload" name="proimage[]" multiple />
                        @Html.TextBoxFor(model => model.files, "", new { click_type = "type2", @id = "picupload", @class="picupload", @type = "file", @multiple = "multiple" })
                    </span>
                </li>
            </ul>
        </div>
        @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
    </div>


    
            <input type="submit" value="Upload" class="btn btn-primary" />
        
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-success">
            @ViewBag.UploadStatus
        </div>
    </div>

</div>
}
@section scripts{
    <script src="~/Scripts/UploadFile.js"></script> 
}
